@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans:ital@0;1&family=Space+Grotesk:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
}

body {
  font-family: "Space Grotesk", sans-serif;
  background: #151515;
}

span,
.primary-color {
  background-image: linear-gradient(to right, #7a0d8a, #c92085, #c68109);
  -webkit-background-clip: text;
  color: transparent;
}

.bg-primary-color {
  @apply bg-gradient-to-r from-[#7a0d8a] via-[#c92085] to-[#c68109];
}

h2 {
  @apply text-xl md:text-4xl;
}

p {
  @apply text-xl tracking-tight leading-relaxed;
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(55, 55, 55, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.shiny-effect {
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1;
  background: radial-gradient(circle, rgba(122, 91, 41, 0.5), transparent 70%);
}

.active-project {
  position: relative;
}

.active-project::before,
.active-project::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #d3208b;
  bottom: -6px;
}

.active-project::after {
  background-color: #fda000;
  width: 80%;
  bottom: -10px;
}
/* -------- ICON STYLE -------- */
.tech-icon {
  display: inline-block;
  transition: transform 0.25s ease, filter 0.25s ease;
}

/* Hover effect: bigger + shadow */
.tech-icon:hover {
  transform: scale(1.25);
  filter: drop-shadow(0 0 10px currentColor);
}

/* -------- TOOLTIP STYLE -------- */
.icon-wrapper {
  position: relative;
  display: inline-block;
}

/* Tooltip box */
.tooltip {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background: #111;
  color: white;
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease-in-out;
}

/* Show tooltip on hover */
.icon-wrapper:hover .tooltip {
  opacity: 1;
  visibility: visible;
}


